@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2980b9;
  --color-text: #333;
  --color-text-light: #999;
  --spc-sm: 0.5em;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a.reset {
  color: var(--color-text);
}

ul.no-format {
  padding-left: 0;
  list-style: none;
}

ul.no-format li {
  margin: var(--spc-sm) 0;
}

.layout-sidebar {
  display: flex;
  align-items: stretch;
  min-height: 100%;
  min-width: 100%;
}

.layout-sidebar--sidebar {
  border-right: 1px solid #ccc;
  flex: 0 0 350px;
}

.layout-sidebar--content {
  max-width: 860px;
  margin: 0 auto;
}

.layout-absolute {
  position: relative;
}

.layout-absolute--bottom {
  position: absolute;
  bottom: 0px;
}

.layout-absolute--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.pad {
  padding: 1em;
}

.pad-l {
  padding: 2em;
}

.pad-ew-l {
  padding-left: 2em;
  padding-right: 2em;
}

.spc-s {
  margin-bottom: 1em;
}

.spc-s-sm {
  margin-bottom: 0.5em;
}

.spc-s-tiny {
  margin-bottom: 0.25em;
}

.spc-n {
  margin-top: 1em;
}

.spc-n-sm {
  margin-top: 0.5em;
}

.spc-n-tiny {
  margin-top: 0.25em;
}

.spc-n-l {
  margin-top: 2em;
}

.spc-n-zero {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.box {
  width: 500px;
  padding: 1em 2em;
  color: #ccc;
  border-radius: 0.25em;
}

.box--frost {
  background: rgba(50, 50, 50, 0.8);
}

.caption {
  font-size: 0.75em;
  color: var(--color-text-light);
  text-align: center;
  max-width: 75%;
  margin: 1em auto 2em;
  line-height: 150%;
}

/* What breakpoints should I use? */
/* https://ricostacruz.com/til/css-media-query-breakpoints */
/* mobile portrait */
@media (min-width: 576px) {
  .sm-show {
    display: block;
  }

  .sm-hide {
    display: none;
  }
}

/* tablet portrait, mobile landscape */
@media (min-width: 768px) {
  .md-show {
    display: block;
  }

  .md-hide {
    display: none;
  }
}

/* tablet landscape */
@media (min-width: 992px) {
  .lg-show {
    display: block;
  }

  .lg-hide {
    display: none;
  }
}

/* laptop */
@media (min-width: 1200px) {
}

/* Default styles for a blog post */

.post video,
img,
canvas {
  max-width: 100%;
}

.post img {
  display: block;
  margin: 0 auto;
}

.post p {
  line-height: 1.6em;
  margin: 2em 0;
}

.post ul {
  margin: 2em 0;
}

.post ul li {
  margin: 0.5em 0;
}

.post blockquote {
  line-height: 1.6em;
  background: #f5f5f5;
  font-style: italic;
  padding: 1.5em 2em;
  margin: 0;
  border-radius: 0.25em;
}

.post h1,
h2,
h3 {
  font-weight: bold;
}

.post h1 {
  font-size: 2em;
}

.post h2 {
  font-size: 1.5em;
}
