/* Default styles for a blog post */

.post {
  video, img, canvas {
    max-width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  p {
    line-height: 150%;
  }

  ul {
    margin: 2em 0;

    li {
      margin: 0.5em 0;
    }
  }
}